body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    background: url('assets/imagenes/city.png');
    background-size: 250px;
=======
    background: url('../assets/imagenes/city.png') no-repeat right top;
    background-size: 471px;
>>>>>>> 63380ab758b83aa48054baa53144fc040c4956cf
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
<<<<<<< HEAD
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
=======
    background-color: rgba(248, 248, 248, 0.9);
    border-bottom: 1px solid #ddd;
>>>>>>> 63380ab758b83aa48054baa53144fc040c4956cf
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

<<<<<<< HEAD
.logo .company-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
=======
.logo h3 {
    margin: 0;
    font-size: 1.5em;
}

.favicon {
    display: flex;
    align-items: center;
}
.favicon img {
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
>>>>>>> 63380ab758b83aa48054baa53144fc040c4956cf
}

nav ul {
    list-style: none;
<<<<<<< HEAD
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
=======
    margin: 10px;
    padding: 1px;
    display: flex;
}

nav ul li {
    margin-left: 150px;
>>>>>>> 63380ab758b83aa48054baa53144fc040c4956cf
}

nav ul li a {
    text-decoration: none;
<<<<<<< HEAD
    color: #000000;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: calc(100vh - 90px);
}

.content-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 80%;
    margin-top: -60px;
}

.left-section {
    text-align: center;
}

.left-section h1 {
    margin-bottom: 20px;
}

.image-container img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.image-container img {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.login {
    background-color: #ffffff;
    padding: 40px;
    border: 2px solid #B0BEC5;
    border-radius: 10px;
    margin-left: 20px;
    width: 360px;
}

.login h2 {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
}

.login .subheader {
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login label {
    margin: 10px 0 5px;
    font-size: 1.2em;
}

.login input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #B0BEC5;
    border-radius: 5px;
    font-size: 1.2em;
}

.login button {
    padding: 10px;
    background-color: #0288D1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.login button:hover {
    background-color: #0277BD;
}

.login p {
    text-align: center;
    font-size: 1.2em;
}

.login p a {
    color: #0288D1;
    text-decoration: none;
}

.login p a:hover {
    text-decoration: underline;
=======
    color: black;
    font-weight: bold;
}

.login button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px;
}

.content {
    width: 50%;
}

.content h1 {
    color: #00aaff;
}

.content h2 {
    margin-top: -20px;
    color: black;
}

.seccion {
    width: 30%;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
}

form h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    }

.recaptcha input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.recaptcha label {
    margin: 0;
    font-size: 1em;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #00aaff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: darkblue;
}

p {
    font-size: 1.2em;
}

.tuEmpresa {
    display: flex;
    flex-direction: column;
    margin-left: 1100px;
}

.tuEmpresa img {
    width: 150px;
    border-radius: 10px;
    margin-left: 40px;
}

.tuEmpresa h3 {
    margin-left: 60px;
}

#empresa {
    margin-right: 120px;
    border-radius: 20px;
    border: 2px solid #B0BEC5;
    padding: 5px;
    font-size: 14px;   
    margin-left: 10px;
>>>>>>> 63380ab758b83aa48054baa53144fc040c4956cf
}

.contenedor {
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
    margin-inline: 220px;
    margin-block: 80px;
    padding: 10px;
    padding-left: 40px;
    border: 2px solid black;
    border-radius: 20px;    
}

.tuInfo input {
    border: 2px solid black;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
}

.menu {
    margin-top: 80px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 98px;
    margin-bottom: 80px;
}

.crear {
    padding: 5px;
    border: 2px solid transparent;
    margin-top: 10px;
    border-radius: 10px;
    margin-inline: 40px;
}

.crear:hover {
    border: 2px solid grey;
    background: rgb(229, 228, 228);
    transition: 500ms;
    transform: scale(0.95);
}

.crear button {
    background: transparent;
    border: none;
}

.crear h3 {
    text-align: center;
}

.buscar {
    padding: 5px;
    border: 2px solid transparent;
    margin-top: 10px;
    border-radius: 10px;
    margin-inline: 40px;
}

.buscar:hover {
    border: 2px solid grey;
    background: rgb(229, 228, 228);
    transition: 500ms;
    transform: scale(0.95);
}

.buscar button {
    background: transparent;
    border: none;
}

.buscar h3 {
text-align: center;
}

input {
    color: black;
=======
    color: black;
    border: 2px solid black;
    max-width: 800px;
    max-height: 550px;
    margin-left: 160px;
    border-radius: 20px;
    margin-top: 80px;
}

.tuInfo {
    padding: 20px;
    margin-left: 20px;
    max-width: 305px;
}

#image {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    margin-left: 390px;
    position: relative;
    bottom: 330px;
}

#guardar {
    max-width: 100px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#guardar:hover {
    background-color: darkblue;
    transition: 500ms;
}

section img {
    position: relative;
    display: block;
    width: 150px;
    margin: 0 1142px;
    bottom: 400px;
}

section input {
    position: relative;
    display: block;
    margin: 0 1120px;
    bottom: 350px;
    max-width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #B0BEC5;
    font-size: 14px;
    background: white;
    color: black;
    text-align: center;
}

section button {
    position: relative;
    display: block;
    margin: 0 1190px;
    bottom: 320px;
    max-width: 100px;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #00aaff;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

section button:hover {
    background-color: darkblue;
>>>>>>> 63380ab758b83aa48054baa53144fc040c4956cf
}